<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>pro08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>sec01.ex01.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>sec01.ex01.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetServletContext</display-name>
    <servlet-name>SetServletContext</servlet-name>
    <servlet-class>sec05.ex01.SetServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetServletContext</servlet-name>
    <url-pattern>/cset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServletContext</display-name>
    <servlet-name>GetServletContext</servlet-name>
    <servlet-class>sec05.ex01.GetServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServletContext</servlet-name>
    <url-pattern>/cget</url-pattern>
  </servlet-mapping>
</web-app>